@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.login-page {
    height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(7,7,105,1) 47%, rgba(0,169,204,1) 100%);
}
.login-container {
    height: 75vh;
}
.registro-container {
    height: 75vh;
}